*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    margin: 0px;
    padding: 4px;
    text-align: center;
    background-color: #353535;
    color: #928f8f;
}


#name-select{
    width: 100%;
    height:25vh;
    display: flex;
    flex-flow: column;
    margin: 10vh 0;

    /*Comment out later*/
    display: none;
    
}

#name-select h3{
    margin: auto;
    flex-grow: 2;
}

#name-select button{
    width: 25%;
    flex-basis: auto;
    flex-grow: 0;
    margin: auto;
}

#name-select h3:nth-of-type(1){
    color: red;
}
#name-select h3:nth-of-type(2){
    color: black;
}

button{
    background-color: #353535;
    color: white;
    border: 0px;
    padding: 5px;
    transition: background-color 0.3s;
    font-size: 16px;
}

button:hover{
    background-color: #928f8f;
}

button:active{
    background-color: red;
    
}

input{
    border: 1px solid black;
    transition: 0.3s;
    outline: none;
}

input:hover{
    border: 2px solid lightblue;
}

#board-wrapper{
    /*Uncomment later*/
    /*display: none;*/
    background-color: #242222;
    
}

#board{
    width: 95vmin;
    height: 95vmin;
    position: relative;
    margin: auto;
}

.cell{
    position: absolute;
}

.checker{
    position: absolute;
}

#info-bar{
    text-align: center;
    background-color: #353535;
    color: white;
    padding: 10px 0;
}

#popup{
    z-index: -1;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 50vh;
    background-color: #f56060;

    top:50%;
    left:50%;
    transform:translate(-50%, -50%);

    transition: 0.3s;

}

#popup h2{
    position: absolute;
    width: 100%;
    top: 20%;
    text-align: center;
    color: white;
}

#popup button{
    position: absolute;
    width: 50%;
    height: 20%;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
}



footer{
    text-align: center;
    background-color: #353535;
    color: #928f8f;
    padding: 5px 0;
}

footer p{
    margin: 0px;
}