*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #353535;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    margin: 0px;
    text-align: center;
    background-color: #353535;
    color: #928f8f;
    border-bottom: 1px solid black;
    font-family: 'Poiret One', cursive;
}
header h1 a{
    text-decoration: none;
}


#name-select{
    width: 100%;
    margin:10vh 0;
    height:55vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#name-select h3{
    font-weight: normal;
    width: 75%;
    margin: auto;
    flex: 1 1 auto;
}

#name-select button{
    margin: auto;
    width: 50vmin;
    min-height: 5vmin;
    flex: 0 1 auto;
}

#name-select h3:nth-of-type(1){
    color: red;
}
#name-select h3:nth-of-type(2){
    color: black;
}

button{
    background-color: #242222;
    color: white;
    border: 0px;
    padding: 5px;
    transition: background-color 0.3s;
    font-size: 25px;
    font-family: 'Poiret One', cursive;
    font-weight:bold;
    
}

button:hover{
    background-color: #928f8f;
}

button:active{
    background-color: red;
    
}

input[type="text"]{
    border: 1px solid black;
    transition: 0.3s;
    width: 100%;
    font-size: 18px;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
}

input:hover{
    border: 2px solid lightblue;
}

#board-wrapper{
    display: none;
    background-color: #242222;
    flex-wrap: wrap; 
    justify-content: center;
    
    /*Courtesy of https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting-using-css/4358620#4358620*/
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

}

#board{
    width: 91vmin;
    height: 91vmin;
    position: relative;
    margin: 10px auto;
}

.cell{
    position: absolute;
    z-index: 0;
    
}

.checker{
    position: absolute;
    z-index: 1;
    transition: top 1s, left 1s;
    
}

.player{
    text-align: center;
    background-color: #242222;
    color: white;
    padding: 10px 0;
    font-size: 20px;
    font-family: 'Poiret One', cursive;
    font-weight: bold;    
    flex: 1 1 100%;
}
.player:nth-of-type(2) p{
    color: red;
}
.player:nth-of-type(3) p{
    color: grey;
}

#popup, #popup-win{
    z-index: -1;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 50vh;
    background-color: #f56060;

    top:50%;
    left:50%;
    transform:translate(-50%, -50%);

    transition: 0.3s;
}


#popup h2, #popup-win h2{
    position: absolute;
    width: 100%;
    top: 20%;
    text-align: center;
    color: white;
}

#popup button{
    position: absolute;
    width: 50%;
    height: 20%;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
}


/*Win dialog*/
#popup-win div{
    position: absolute;
    width: 100%;
    height: 20%;
    top: 100%;
    transform: translate(0, -100%);
    display: flex;
    justify-content: space-around;
}
#popup-win div button{
    width: 40%;
}



footer{
    text-align: center;
    background-color: #353535;
    color: #928f8f;
    padding: 5px 0;
}

footer p{
    margin-bottom: 10px;
}

a:link{
    color: #dad4d4;
}
a:hover{
    color: #928f8f; 
}
a:active{
    color:white;
}
a:visited{
    color: #dad4d4;
}

.hidden{
    display: none;
}


/*Documentation page*/
h1{
    font-family: 'Poiret One', cursive;
    text-align: center;
    color: #928f8f;
}
li{
    margin-left: 20px;
}

#doc-wrapper{
    display: flex;
    flex-direction: column;
    margin:0px 4%;
}

#doc-wrapper section{
    background-color: #222020;
    padding: 8px;
    border-bottom: 1px solid grey;
    margin: 10px 0;
}
#doc-wrapper section h2{
    font-family: 'Poiret One', cursive;
    font-weight: bold;    
    color: #bb1616;
    margin-bottom: 5px;
}

#doc-wrapper p, #doc-wrapper li{
    color: #dad4d4;
    margin-bottom: 8px;
}



/*---Media Queries---*/


/*Tablets*/
@media screen and (min-width: 481px)
{
    input{
        height: 2em;
    }

    
    #doc-wrapper{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    #doc-wrapper section{
        flex: 0 1 45%;
    }

    #name-select{
        flex-direction: row;
        flex-wrap: wrap;
    }

    #name-select h3{
        flex: 0 1 40%;
    }
}

/*Desktop*/
@media screen and (min-width: 800px)
{
    h1{
        font-size: 35px;
    }
    #doc-wrapper{
        margin:0 15%;
    }
    #doc-wrapper section h2{
        font-size: 25px;
    }
    #doc-wrapper p, #doc-wrapper li{
        font-size: 20px;
    }
}



/*Landscape devices (desktop, tablet/phone in landscape mode)
  Using orientation here because board size is dependent on minimum viewport size (vmin), so small phones in landscape need to be accounted for. */
@media screen and (orientation:landscape){
    .player{
        flex: 1 1 auto;
        position: relative;
    }
    .player *{
        position: absolute;
        top: 50%;
        left: 50%;
        transform:translate(-50%,-50%);
    }
    .player:nth-of-type(2){
        order: 1;
    }
    #board{
        order: 2;
    }
    .player:nth-of-type(3){
        order: 3;
    }
}