*{
    margin: 0px;
    padding: 0px;
}

html{
    height: 100%;
}

body{
    margin: 0 5%;
    background-color: black;    
    min-height: 100%;
    background: linear-gradient(to right, black, #131212);
    
}

header{
    border-bottom: 5px solid grey;
}

header h1{
    font-family: "Saira", sans-serif;
    background-color: black;
    color: white;
    display: inline-block;
}

nav{
    display: inline-block;  
}
nav ul li{
    display: inline-block;
    padding: 10px;
    border-right: 1px solid black;
}

nav a:link{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: grey;
}
nav a:visited{
    color: grey;    
}

nav a:hover{
    color: white;
}

nav a:active{
    color: grey;
}

#active-page{
    color: white;
}

#splash{
    height: 100%;
    width: 100%;
    background: linear-gradient(to left, black, #131212);    
    border-bottom: 5px solid grey;
}

#splash h1{
    font-family: "Saira", sans-serif;
    color: white;
    text-align: center;
    font-size: 40px;
    
}

#splash img{
    margin: 10px auto;
    
}

#splash div{
    width: 100%;
}

#splash div p{
    color: white;
    font-family: "Saira", sans-serif;
    text-align: center;
    font-size: 24px;
}


.desk-img{
    display: block;
}
.tab-img{
    display: none;
}
.mob-img{
    display: none;
}

/*Tablets*/
@media screen and (max-width: 800px){
    body{
        margin: 0px;
    }
    .desk-img{
        display: none;
    }
    .tab-img{
        display: block;
    }
    
}
/*Phones*/
@media screen and (max-width: 480px) {
    .tab-img{
        display: none;
    }
    .mob-img{
        display: block;
    }

    /*Adjust navbar to fit in mobile screen*/
    nav{
        width: 100%;
    }
    nav ul{
        display: table;
        margin: auto;
    }
    nav ul li{
        padding: 6px;
    }
    nav ul li a{
        font-size: 14px;        
    }
}