/*Mobile First*/
*{
    margin: 0px;
    padding: 0px;
}

html{
    height: 100%;
}

body{
    margin: 0px;
    background-color: black;    
    min-height: 100%;
    background: linear-gradient(to right, black, #131212);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
}

header{
    border-bottom: 5px solid grey;
}

header h1{
    font-family: "Saira", sans-serif;
    background-color: black;
    color: white;
    text-align: center;    
}

h2, h3{
    font-family: "Saira", sans-serif;
}

li{
    margin-left: 15px;
}
ul ul li{
    margin-left: 30px;
}
section ul{
    margin-bottom: 10px;
}
section h2{
    margin-bottom: 10px;
}

#high-concept h2{
    text-align: center;
}
img{
    margin: auto;
    display: block;
}
section{
    background: linear-gradient(to right, #222121, grey);
    margin: 10% auto;
    padding: 10px;
    width: 85%;
}

header h1#active-page{
    display:none;
}

/*Adjust navbar to fit in mobile screen*/
nav ul{
    list-style-type: none;
    display: table;
    margin: auto;
}
nav ul li{
    display: inline-block;
    padding: 5px;
}
nav ul li:first-of-type{
    margin-left: 0;
}


a:link{
    text-decoration: none;
    color: grey;
}
a:visited{
    color: grey;    
}

a:hover{
    color: white;
}

a:active{
    color: grey;
}



.desk-img{
    display: none;
}
.tab-img{
    display: none;
}
.mob-img{
    display: block;
}

#active-page{
    color: white;
}

#splash{
    height: 100%;
    width: 100%;
    background: linear-gradient(to left, black, #131212);    
    border-bottom: 5px solid grey;
    padding: 0px; 
}

#splash h1{
    font-family: "Saira", sans-serif;
    color: white;
    text-align: center;
    font-size: 40px;
    
}

#splash img{
    margin: 10px auto;
    
}

#splash div{
    width: 90%;
    margin: auto;
}

#splash div p{
    color: white;
    font-family: "Saira", sans-serif;
    text-align: center;
    font-size: 24px;
}


#wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#wrapper section{
    flex: 0 auto;
}

#game{
    text-align: center;
    height: 80vh;
}

#game h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Tablets*/
@media screen and (min-width: 480px){
    .mob-img{
        display: none;
    }
    .tab-img{
        display: block;
    }

    section{
        margin: 5% auto;
    }

    /*Increase font size for tablets and desktop*/
    p, li{
        font-size: 20px;
    }
    nav ul li{
        font-size: 22px;
    }
    #splash div p{
        font-size: 28px;
    }
}
/*Desktop*/
@media screen and (min-width: 800px) {

    body{
        margin: 0 5%;
    }
    .tab-img{
        display: none;
    }
    .desk-img{
        display: block;
    }
    section{
        margin: 3% auto;
    }



    /*Inline-block for desktop, otherwise block so we can center it*/
    nav{
        display: inline-block;  
    }
    nav ul{
        display: inline-block;
        margin: 0px;
    }
    nav ul li a{
        font-size: inherit;
    }

    header h1#active-page, header h1{
        display: inline-block;
        padding: 0 10px;
    }


    #wrapper section{
        flex: 0 47%;
        margin: 3% 0;
    }
    #wrapper section#high-concept, #wrapper section#gameplay{
        flex: 1 100%;
    }

}